# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Python
*.log
*.sqlite3

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Cache
.cache/